body {
    font-family: poppins;
    padding: 0;
    margin: 0;
}
.header-section {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;  
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
.right-content img {
width: 100%;
}
.flexible-container {
    display: flex;
}
.left content h1 {
    font: size 3em; ;
}
h1 span {
    color: #FFA500;
}
a {
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius:5px ;
}

/* Dream section */
.Dream-Section {
    background-image:url(dream-bg.png) ;
    background-repeat:no-repeat;
    background-position: right center;
}
.reverse {
    flex-direction: row-reverse;
}

/* Experiance-section */
.item {
    margin: 0 5%;
    box-shadow: 15px 15px 30px lightgray;
    padding: 2%;
    background-color: white;
}
.item h4 {
    color:#FFA500 ;
}
#Senior {
    border-left: 5px solid;
    border-image: linear-gradient(green, cyan);
    border-image-slice: 1;
}
#Junior{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.experiance-section {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

/* footer-section */
.footer-section {
    text-align: center;
    padding: 50px 0;
}