body {
    font-family: poppins;
    padding: 0;
    margin: 0;
}
.header-section {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;  
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
.right-content img {
width: 100%;
}
.flexible-container {
    display: flex;
}
.left content h1 {
    font: size 3em; ;
}
h1 span {
    color: #FFA500;
}
a {
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius:5px ;
}